<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <img class="foto" alt="kaua" src="assets/kaua.png" />
      <ion-card-header>
        <ion-card-subtitle>Matrícula: 22205163</ion-card-subtitle>
        <ion-card-title>Kauã Pereira</ion-card-title>
      </ion-card-header>
    
      <!-- <ion-card-content>
        Esta página serve o propósito de apresenta
      </ion-card-content> -->
    </ion-card>
  </div>
  <div class="texto">
    <p>Esta página serve o propósito de apresentar o aluno responsável pela criação
      destas páginas.
    </p>
  </div>
  <div class="btns">
    <ion-button routerLink="/pagina1">Página API</ion-button>
    <ion-button routerLink="/home">Página APRESENTAÇÃO</ion-button>
  </div>
</ion-content>
