.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.foto{
    /* max-height: 400px;
    width: 100%; */
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0px -290px;
}
.btns{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}